@import '../../styles/colors.scss';

.sidebar {
  width: 162px;
  height: 100vh;
  background-color: $primary-blue; // White background
  position: fixed;
  left: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for separation
  
  .streamwise-logo{
    padding: 32px 12px;
    font-weight: 700;
    color: $white;
    font-size: 22px;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      height: 60px;
      width: 76px;
      margin-bottom: 24px;
      margin-right: 4px;
    }

    span {
      display: inline-block;
      font-family: monospace;
    }
  }
  nav{
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 32px 16px;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.1);
    &:hover {
      color: $hover-text;
      background-color: $hover-bg;
    }

    &.div-selected {
      color: $highlight;
      font-weight: 600;
    }
  }
}
