@import '../../styles/colors.scss';

.sidebar {
  width: 126px;
  height: calc(100vh - 95px); // Height below the TopBar
  background-color: $background-light; // White background
  position: fixed;
  left: 0;
  top: 60px; // Starts below the TopBar
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-right: 1px solid $background-dark; // Right border
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1); // Subtle shadow for separation

  nav{
    display: flex;
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 16px;
    color: $text;
    text-decoration: none;

    &:hover {
      color: $secondary;
    }

    &.div-selected {
      color: $highlight;
      font-weight: 600;
    }
  }
}
