// Primary Color Palette
$primary-blue: #3749A6; // Deep Dark Blue
$secondary-purple: #5030E5; // Greyish Dark Blue
$background: #FFFFFF; // White background (default)
$highlight: #2F2F2F; // Slightly Lighter Grey-Black
$white: #ffffff;

$whiteboard-grey-dots: #d4d4d4;

// Adjacent Colors
$primary-dark: #162D4C; // Darker Blue

$highlight-dark: #1A1A1A; // Almost Black
$highlight-light: #3A3A3A; // Lighter Grey-Black

// Text Colors
$text: #2D2D2D; // Dark Black
// Hover States
$hover-bg: #f7f6f2; // Background on hover
$hover-text: $primary-dark; // Text color on hover

$button-background: #4880FF;
$button-color: #FFFFFF;
$button-hover: #366ceb;

$border-color: #E0E0E0;