@import '../../styles/colors.scss';
@import '../../styles/base.scss';

.projects {
  padding: 16px;
  background-color: $background;
  color: $text;

  h1 {
    font-size: 24px;
    font-weight: 600;
    color: $secondary;
  }

  p {
    font-size: 16px;
    color: $text-light;
  }
}
